<!DOCTYPE html>
<html>
    <head>
        <title>CountPucks.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "countpucks/css/homepage.css" %}">
        <script language="javascript" type="text/javascript" src="{% static "countpucks/js/jquery.js" %}"></script>
        <script language="javascript" type="text/javascript" src="{% static "countpucks/js/jquery.flot.js" %}"></script>

    </head>

    <body>
        <div id="wrap">
            <div class="container">
                <div class="masthead">
                    <h3 class="text-muted">CountPucks.com</h3>
                    <ul class="nav nav-justified">
                        <li {% ifequal active_class_id "player_of_the_day" %}class="active"{% endifequal %}><a href="{% url 'player_of_the_day' %}">Home</a></li>
                        <li {% ifequal active_class_id "search_player" %}class="active"{% endifequal %}><a href="{% url 'search_player' %}">Players</a></li>
                        <li {% ifequal active_class_id "about" %}class="active"{% endifequal %}><a href="{% url 'about' %}">About</a></li>
                    </ul>
                </div>
            </div>

            <div class="container" id="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <!-- Site footer -->
        <div id="footer">
            <div class="container">
                <p class="text-muted credit">2013</p>
            </div>
        </div>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>