<!DOCTYPE html>
<html>
    <head>
        <title>CountPucks.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

        {% load staticfiles %}
        <link rel="stylesheet" href="{% static "countpucks/css/homepage.css" %}">
    </head>

    <body>
        <div id="wrap">
            <div class="container">
{#            <div class="container" style="background-color: yellow">#}
                <div class="masthead">
{#                <div class="masthead" style="background-color: deeppink">#}
                    <h3 class="text-muted">CountPucks.com</h3>
                    <ul class="nav nav-justified">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Teams</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>

{#            page content #}
            <div class="container" id="page-content">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6"><p id="conference">Western Conference</p></div>
                        <div class="col-md-6"><p id="conference">Eastern Conference</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" id="hover-div"><p id="division">Pacific</p>
                            <ul>
                                <li><img src="http://placehold.it/60x60&text=Anaheim+Ducks"><span>Anaheim<br>Ducks</span></li>
                                <li><img src="http://placehold.it/60x60&text=Calgary+Flames"><span>Calgary<br>Flames</span></li>
                                <li><img src="http://placehold.it/60x60&text=Edmonton+Oilers"><span>Edmonton<br>Oilers</span></li>
                                <li><img src="http://placehold.it/60x60&text=Los+Angeles+Kings"><span>Los Angeles<br>Kings</span></li>
                                <li><img src="http://placehold.it/60x60&text=Phoenix+Coyotes"><span>Phoenix<br>Coyotes</span></li>
                                <li><img src="http://placehold.it/60x60&text=San+Jose+Sharks"><span>San Jose<br>Sharks</span></li>
                                <li><img src="http://placehold.it/60x60&text=Vancouver+Canucks"><span>Vancouver<br>Canucks</span></li>
                            </ul>
                        </div>
                        <div class="col-md-3" id="hover-div"><p id="division">Central</p>
                            <ul>
                                <li><img src="http://placehold.it/60x60&text=Chicago+Blackhawks"/><span>Chicago<br>Blackhawks</span></li>
                                <li><img src="http://placehold.it/60x60&text=Colorado+Avalanche"><span>Colorado<br>Avalanche</span></li>
                                <li><img src="http://placehold.it/60x60&text=Dallas+Stars"><span>Dallas<br>Stars</span></li>
                                <li><img src="http://placehold.it/60x60&text=Minnesota+Wild"><span>Minnesota<br>Wild</span></li>
                                <li><img src="http://placehold.it/60x60&text=Nashville+Predators"><span>Nashville<br>Predators</span></li>
                                <li><img src="http://placehold.it/60x60&text=St.+Louis+Blues"><span>St. Louis<br>Blues</span></li>
                                <li><img src="http://placehold.it/60x60&text=Winnipeg+Jets"><span>Winnipeg<br>Jets</span></li>
                            </ul>
                        </div>
                        <div class="col-md-3" id="hover-div"><p id="division">Atlantic</p>
                            <ul>
                                <li><img src="http://placehold.it/60x60&text=Boston+Bruins"><span>Boston<br>Bruins</span></li>
                                <li><img src="http://placehold.it/60x60&text=Buffalo+Sabres"><span>Buffalo<br>Sabres</span></li>
                                <li><img src="http://placehold.it/60x60&text=Detroit+Red+Wings"><span>Detroit<br>Red Wings</span></li>
                                <li><img src="http://placehold.it/60x60&text=Florida+Panthers"><span>Florida<br>Panthers</span></li>
                                <li><img src="http://placehold.it/60x60&text=Montréal+Canadiens"><span>Montréal<br>Canadiens</span></li>
                                <li><img src="http://placehold.it/60x60&text=Ottawa+Senators"><span>Ottawa<br>Senators</span></li>
                                <li><img src="http://placehold.it/60x60&text=Tampa+Bay+Lightning"><span>Tampa Bay<br>Lightning</span></li>
                                <li><img src="http://placehold.it/60x60&text=Toronto+Maple+Leafs"><span>Toronto<br>Maple Leafs</span></li>
                            </ul>
                        </div>
                        <div class="col-md-3" id="hover-div"><p id="division">Metropolitan</p>
                            <ul>
                                <li><img src="http://placehold.it/60x60&text=Carolina+Hurricanes"><span>Carolina<br>Hurricanes</span></li>
                                <li><img src="http://placehold.it/60x60&text=Columbus+Blue+Jackets"><span>Columbus<br>Blue Jackets</span></li>
                                <li><img src="http://placehold.it/60x60&text=New+Jersey+Devils"><span>New Jersey<br>Devils</span></li>
                                <li><img src="http://placehold.it/60x60&text=New+York+Islanders"><span>New York<br>Islanders</span></li>
                                <li><img src="http://placehold.it/60x60&text=New+York+Rangers"><span>New York<br>Rangers</span></li>
                                <li><img src="http://placehold.it/60x60&text=Philadelphia+Flyers"><span>Philadelphia<br>Flyers</span></li>
                                <li><img src="http://placehold.it/60x60&text=Pittsburgh+Penguins"><span>Pittsburgh<br>Penguins</span></li>
                                <li><img src="http://placehold.it/60x60&text=Washington+Capitals"><span>Washington<br>Capitals</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Site footer -->
        <div id="footer">
{#        <div id="footer" style="background-color: red;">#}
            <div class="container">
                <p class="text-muted credit">2013</p>
            </div>
        </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </body>
</html>