{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <h3>Player of the day.</h3>
        {% if position != 'Goalie' %}
            {{ player.full_name }} {{ player.sweater }} from {{ player.team }}
            played {{ scores.GP }} game{{ scores.GP|pluralize }} in {{ scores.Season|lower }}.
            He  scored {{ scores.P }} point{{ scores.P|pluralize }} including
            {{ scores.G }} goal{{ scores.G|pluralize }} and {{ scores.A }} assist{{ scores.A|pluralize }}
            with "{{ scores.PlusMinus }}" in plus-minus rating.
        {% else %}
            {{ player.full_name }} {{ player.sweater }} from {{ player.team }}
            played {{ scores.GP }} game{{ scores.GP|pluralize }} in {{ scores.Season|lower }}.
            He recorded {{ scores.W }} win{{ scores.W|pluralize }} and {{ scores.L }} loss{{ scores.L|pluralize:"es" }},
            made {{ scores.Sv }} save{{ scores.Sv|pluralize }} with a save percentage of {{ scores.SvPercentage }}.
        {% endif %}
    </div>

{% endblock %}